<div class="row container justify-content-center">
  <div class="card p-3 m-5">
    <div class="card-header">
      <h4 class="card-title text-center"><strong>EARNY</strong></h4>
    </div>
    <div class="chat-content">
      <div class="p-4" *ngFor="let response of responses">
        <p>{{response.question}}</p>
        <p class="text-end">{{response.answer}}</p>
      </div>
    </div>
    <div class="input-group mt-auto">
      <input #answer type="text" class="form-control text-center" placeholder="Type your answer here" (keyup.enter)="addInput(answer.value)">
    </div>
  </div>
</div>